@import url('https://fonts.googleapis.com/css?family=Kalam');
h1{
    font-family: 'Kalam', 'Monotype Corsiva', 'Trebuchet MS', 'Tahoma', 'Verdana', 'Arial', sans-serif;
    color: white;
    font-size: 25pt;
    text-align: center;
    text-decoration-line: underline;
}

h3{
    font-family: 'Kalam', 'Monotype Corsiva', 'Trebuchet MS', 'Tahoma', 'Verdana', 'Arial', sans-serif;
    color: white;
    text-align: center; 
}

#credits{
    padding:7px;
    font-family: 'Kalam', 'Monotype Corsiva', 'Trebuchet MS', 'Tahoma', 'Verdana', 'Arial', sans-serif;
    font-size: 12pt;
    color: white;
    background: transparent;
    border-style: solid;
    border-color:white;
    border-radius: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#credits:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}